@import "tailwindcss";
/* ลบเส้นขอบ Focus ของ Leaflet Container */
.leaflet-container:focus {
    outline: none !important;
}

/* ลบเส้นขอบที่อาจเกิดขึ้นกับ Path (ตัวจังหวัด) */
path:focus {
    outline: none !important;
}

/* สำหรับลบกรอบสีฟ้าในบางเบราว์เซอร์เวลาคลิก */
.leaflet-interactive:focus {
    outline: none !important;
}

path.leaflet-interactive {
    transition: fill 0.5s ease, stroke 0.5s ease, stroke-width 0.5s ease;
}